<div class="row">
  <div class="col-md-6">
    <div class="show-header">
      <div class="show-header-title">
        <h1><%= @profile.name %></h1>
        <p><i class="fa fa-map-marker"></i> <%= @profile.location %></p>
      </div>
      <div class="show-header-img">
        <img src="<%= @profile.picture %>" class="pull-right img-circle img-medium img-show">
      </div>
    </div>

    <form action="<%= linkedin_profile_url(@profile) %>" method="post">
      <input type="hidden" name="authenticity_token" id="" value="<%= form_authenticity_token %>" />
      <input type="hidden" name="_method" id="" value="PATCH" />
      <button class="btn btn-success btn-sm">
        <i class="fa fa-refresh"></i>
        Refetch!
      </button>
    </form>

    <p><%= @profile.summary %></p>

    <h3> Schools </h3>
    <ul class="schools list-group">
      <% @profile.schools.each do |school| %>
        <li class="list-group-item">
          <strong><%= school.name %></strong>
          <small class="pull-right"><%= school.period %></small>
        </li>
      <% end %>
    </ul>

    <h3> Companies </h3>
    <ul class="list-group">
      <% @profile.companies.each do |company| %>
        <li class="list-group-item">
          <strong><%= company.company %></strong>
          <%= company.title %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>Matches</h2>
    <form action="<%= linkedin_profile_profile_matches_url(@profile) %>" method="post" class="form form-inline">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <div class="form-group">
        <button class="btn btn-success">
          <i class="fa fa-refresh"></i>
          Generate
        </button>
        <a href="<%= linkedin_profile_profile_matches_url(@profile, format: :csv) %>" class="btn btn-success">
          <i class="fa fa-cloud-download"></i>CSV
        </a>
      </div>
    </form>
    <br>
    <ul class="schools list-group">
      <% @matches.each do |match| %>
        <% if @profile.advisor? %>
          <%= render partial: "profile_matches/match_item", locals: { profile: match.potential_client_profile, match: match } %>
        <% else %>
          <%= render partial: "profile_matches/match_item", locals: { profile: match.advisor_profile, match: match } %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
